main
    section.product
    .container
        .product__header
        a.g-link.product-view(href='#') Trang chủ/
        a.g-link.product-view(href='#') Sản phẩm/
        a.g-link.product-view(href='#') Rượu vang đỏ
        .product__list
        .product__item
            .product__image
            img(srcset='./img/7.jpg' alt='')
            a.g-link.product__link(href='#') Đặc điểm nổi bật
            p 
            
        .product__item
            
