header
  .header-container
    .logo
      img(src="./img/logo.png", alt="Logo")
    nav
      ul
        li
          a(href="#") TRANG CHỦ
        li
          a(href="#") RƯỢU VANG ĐỎ
        li
          a(href="#") RƯỢU TRẮNG
        li
          a(href="#") CHAMPAGNE
        li
          a(href="#") THÔNG TIN
        li
          a(href="#") BLOG
        li
          a(href="#") LIÊN HỆ